/*google font*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=M+PLUS+Rounded+1c&family=Poppins:wght@400;500;600;700&family=Work+Sans:wght@400;500;600&display=swap');

*{
    font-family: 'Lato', sans-serif;
    font-family: 'M PLUS Rounded 1c', sans-serif;
   
}
/*common shared styles*/
.btn-primary{
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    padding: 10px 30px;
    border: none;

}

/*header styles*/
header{
    background: rgba(229, 84, 115, 0.10); 
    width: 1920px;
    height: 850px;

}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 240px;
  
}

.content-title{
    width: 708px;
    color: #272727;
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 10px;

}  

.content-description{
    width: 634px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;

}

.banner-img img{
    width: 635px;
    height: 800px;
    padding: 50px 240px 0px 90px;

}

/*feature styles*/
.features{
    width: 1440px;
    height: 700px;
    flex-shrink: 0;
    margin: 100px 240px 155px 240px;
    gap: 150px;

   

}
.feature-title{
    color: #272727;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    

}
.feature-description{
    width: 594px;
    text-align: center;
    color: rgba(39, 39, 39, 0.60);;
    font-size: 18px;
    font-weight: 400;
    margin: 20px 400px;
}

.feature-img-conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
 

}

.img-card{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 464px;
    height: 538px;

   
}
.img-card .img-1st{
    padding: 110px 78px 0px 78px;
}
.img-card .img-second{
    padding: 117px 47px 57px 47px;
}
.img-card .img-third{
    padding: 67px 75px 0px 75px ;
}
.img-card .img-description{

    color: #272727;
    font-size: 20px;
    font-weight: 700;
    text-decoration: underline;
    text-align: center;
}


/*service styles*/
.service{

    width: 1440px;
    height: 320px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 155px 240px 125px 240px;

}

.service-conteiner{
    display: flex;
    align-items: center;
  

}
.serv-cont-description{
    color: rgba(39, 39, 39, 0.80);
    font-size: 24px;
    font-weight: 600;
    margin: 0px 10px 85px 80px;
    text-align: center;


   
  
}
.service-content img{
    width: 88px;
    height: 88px;
    margin: 85px 180px 24px 220px;
   
}

/*products styles*/

.products-off{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1120px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    padding: 100px 400px;
}
.product-content .product-content-title{
    color: #272727;
    font-size: 24px;
    font-weight: 700;

}
.product-content .product-content-description{
    width: 594px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    

}
.product-img img{
    width: 318px;
    height: 420px;
    margin-left: 185px;
  

}
span{
   color: #E55473;

}
#btn-secondly{
    margin-left: 200px;
}

/*flower gallary styles*/

.products-gallary{

    width: 1440px;
    height: 320px;
    margin: 128px 240px;

}
.products-gallary-title{
        color: #272727;
        font-size: 24px;
        font-weight: 700;
        text-align: center;
  
}
.products-gallary-description{
    width: 594px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400; 
    text-align: center;
    margin: 15px 400px ;
}
.flower-conteiner{

    display: flex;
    align-items: center;
    gap: 25px;
}
.flower-conteiner img{
    width: 342px;
    height: 396px;
    border-radius: 8px;
}

